@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** custom normalize.css */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{padding:0}input[type=search]{-webkit-appearance:textfield;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

html, body { width: 100%; height: 100%;}
body {
    background: #002650;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #002650, #042a57 34%, #264688 72%, #3c57a7);  /* Chrome 10-25, Safari 5.1-6 */
    background: -moz-linear-gradient(to bottom, #002650, #042a57 34%, #264688 72%, #3c57a7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #002650, #042a57 34%, #264688 72%, #3c57a7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.5em 0; color: #333; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; }

#searchform { display: block;margin: 0 auto;text-align: center; width: 100%; max-width: 500px; transform: translateY(10%); }
#searchform img{
    margin-bottom:3rem;
}
span { font-size: 1.25em; }
.search-input{
    position: relative;
}
.search-input img{
    position: absolute;
    top: 1.3rem;
    left: 1rem;
}
#search-bar {
    display: block;
    color: #fff;
    font-weight: 500;
    text-indent: 1.75rem;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);

    border-radius: 4px;
    margin: .25em 0 0; width: 100%; padding: .25em .5em;
    font-size: 1em;
    line-height: 1.5;
    height: 3.5rem;
}
#search-bar:focus{
    outline: none;
    border-radius: 5px 5px 0 0px;
}
#search-bar::placeholder {
    color: #fff;
}
.output {
    list-style: none;
    width: 100%;
    min-height: 0px;
    border-top: 0 !important;
    color: #767676;
    font-size: .75em;
    transition: min-height 0.2s;
    position: absolute;
    z-index: 5;
}

.output{
    background: #fff;
    /*border: 1px solid #767676;*/
    border-bottom-left-radius: 3px; border-bottom-right-radius: 3px
}

.prediction-item {
    padding: .5em .75em;
    line-height: 2;
    text-align: left;
    transition: color 0.2s, background 0.2s;
}

.output:hover .focus {
    background: #fff;
    color: #767676;
}

.prediction-item:hover, .focus,
.output:hover .focus:hover {
    background: #ddd;
    color: #333;
}

.prediction-item:hover {
    cursor: pointer;
}

.prediction-item strong { color: #333; }
.prediction-item:hover strong { color: #000; }

.search-result{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top:3.876rem;
    color: #fff;
    padding: 3rem 0;
}
.search-result ul li{
    list-style: none;
}
#search-list-result li{
    padding: 0.95em 0em 1.96rem 1.95em;
    text-align: left;
    font-size:0.85rem;
    height: 3.374rem;
    overflow: hidden;
    max-width: 500px;
    line-height: 1.75;
    margin: 0 auto;
}
#search-list-result li:hover{
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.1);
}
#search-list-result li:hover .close-wrapper{
    visibility: visible;
}

#search-list-result li span:nth-child(2){
    float: right;
}
#search-list-result li span:nth-child(1){
    font-weight: 600;
    font-size: 1.12rem;
    font-family: inherit;
}
.close-wrapper img{
    border-radius: 50%;
    width: 16px;
    height: auto;

}
.close-wrapper:hover a{
 visibility: visible;
}
.close-wrapper{
    padding: 1.14rem;
    margin-left:2rem;
    visibility: hidden;
    height: 54px;
    background-color: rgba(166, 33, 55, 0.6);
}
p { margin-top: 1em; }
h1 { color: #439973; padding-bottom: 5px; border-bottom: 2px dotted #439973; font-family: 'Open Sans', sans-serif; }


@media screen and (max-width: 480px) {
    #searchform,#search-list-result li{
        max-width: 380px;
    }
}
@media screen and (max-width: 320px) {
    #searchform,#search-list-result li{
        max-width: 280px;
    }
}

